.container {
    width: 1200px;
    margin: 0 auto;
}
.header-page {
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("image/logoMarker.png") no-repeat;
    background-size: cover;
    margin-left: 20px;
    vertical-align: middle;
}

.logo-title {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0 15px 20px;
}

.navbar {
    padding: 15px 0;
}
.navbar-item :hover {
    color: #14B9D5;
}
.navbar-item {
    display: inline-block;
    list-style: none;
    padding-left: 20px;
}

.navbar-link {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-item:nth-child(1) {
    padding-left: 0;
}

.scan {
    cursor: pointer;
    width: 68px;
    background-color: #000000;
    background-image: url("image/scan.png");
    background-repeat: no-repeat;
    background-position: center;
}

.latest-menu {
    background-image: url("image/headerBg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

.latest-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
}

.latest-title {
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 400;
}

.latest-button {
    padding-top: 70px;
}

.first-screen-button {
    display: inline-block;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.subscribe-button {
    background-color: #89CA62;
    margin-right: 10px;
    padding: 17px 20px;
}

.best-button {
    background-color: #14B9D5;
    padding: 17px 30px;
}

.pots {
    background-color: #F2F2F2;
}

.pots-items {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.section-title-post {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
}

.card-wrap {
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    height: 930px;
}

.pots-card {
    margin: 30px 15px 0;
    width: calc(100% / 3 - 30px);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pots-card-title {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    padding: 10px 0;
}

.clients {
    padding: 170px 0;
    background-image: url("image/clientsBg.png");
    background-size: cover;
    background-attachment: fixed;
}

.clients-wrap {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 50px;
}

.clients-title {
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

.clients-title:after {
    content: '';
    width: 60px;
    display: block;
    border-bottom: 3px solid #18B4CF;
    margin: 45px auto 0;
}

.clients-name-wrap {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
}

.gallery-top {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.section-title {
    color: #18B4CF;
    font-size: 27px;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}

.gallery-item {
    display: grid;
    grid-template-columns: repeat(7, calc( 100vw / 7));
}

.gallery-img {
    width: 100%;
    object-fit: fill;
}

.hot-news-wrap {
    display: grid;
    grid-template-rows: 200px 1fr;
    align-items: center;
}
.news-item {
    background-color: #F9F7F7;
}
.news-title{
    color: #18B4CF;
    font-size: 27px;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}

.news-card {
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4 - 27px));
    grid-gap: 36px;
}

.news-title-card {
    color: #353A3D;
    font-size: 19px;
    font-weight: bold;
    text-align: right;
}

.news-content {
    padding-bottom: 18px;
    margin-top: 18px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}

.news-cover {
    margin-right: 24px;
}

.rest-thee {
    border: none;
    width: 100%;
    grid-column-end: span 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
    align-items: center;
}

.rest-one {
    border: none;
    width: 100%;
    display: grid;
    justify-content: center;
}

.rest-two{
    border: none;
    width: 100%;
    grid-column-end: span 2;
    display: grid;
    grid-gap: 18px;
}

.rest-title{
    text-align: center;
}

.rest-img-two {
    width: 100%;
}

.rest-img-one{
    width: 100%;
}

.copyright {
    color: #FFFFFF;
}

.footer-page {
    margin-top: 70px;
    background-color: #000000;
}

.footer-wrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 80px;
    justify-content: space-between;
    align-items: center;
}

.logo-title-footer {
    vertical-align: top;
}
