.content {
    background-image: url("image/bg.jpg");
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

.container {
    width: 1280px;
    margin: auto;
}

.header-zone {
    position: relative;
    background-color:  rgba(0, 0, 0, 0.4);
}

.header-wrapper {
    padding: 15px 0;
}

.company-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: white;
    float: left;
}

.company-name:hover {
    color: #3CB878;
}

.header-info {
    float: right;
}

.header-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("image/form-ikons.png");
    background-repeat: no-repeat;
    margin-right: 28px;
}

.sprite-ic_calendar {
    background-position: -139px -40px;
}

.sprite-ic_forum {
    width: 28px;
    background-position: -439px -40px;
}

.sprite-ic_journey {
    background-position: -239px -40px;
}

.sprite-ic_calendar:hover {
    background-position: -40px -40px;
}

.sprite-ic_forum:hover{
    width: 28px;
    background-position: -547px -40px;
}

.sprite-ic_journey:hover {
    background-position: -339px -40px;
}

.authorisation-item {
    font-size: 14px;
    color: white;
    float: right;
    position: relative;
}

.authorisation-item:before {
    content: " ";
    font-size: 17px;
    border: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 28px;
}

.log-in-link,
.sign-up-link {
    color: white;
}

.log-in-link:hover {
    color: #3CB878;
}

.authorisation-item-2 {
    font-size: 14px;
    color: white;
    position: absolute;
    top:23px;
    right: 108px;
}

.sign-up-link:hover {
    color: #3CB878;
}

.modal-window {
    width: 324px;
    background-color: white;
    box-shadow: 0 4px 42px rgba(0, 0, 0, 0.76);
    position: relative;
    top: calc((100vh - 58px - 713px) / 2);
    margin: auto;
    border-radius: 3px;
    padding: 30px 60px;
}

.login-wrapper {
    margin-bottom: 20px;
}

.sign-up-header {
    font-size: 20px;
    font-weight: 300;
    color: black;
    float: left;
}

.sign-up-header::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 30px;
    left: 0;
}

.log-in-form-link {
    display: inline-block;
    float: right;
    font-weight: 300;
    font-size: 14px;
    color: #3CB878;
}

.button-form {
    margin-bottom: 20px;
}

.facebook-button {
    float: left;
    background-color:  #305DB8;
    border-radius: 3px;
    padding: 15px 21px ;
    color: #FFFFFF;
    display: inline-block;
}

.facebook-icon {
    width: 10px;
    height: 20px;
    background-image: url("image/facebook-google.png");
    background-position: -150px -150px;
    margin-right: 14px;
    float: left;
}

.facebook-text {
    display: inline-block;
    vertical-align: middle;
}

.facebook-text::before{
    content: "";
    border-right: 1px solid  #0A162F;
    opacity: 0.1;
    margin-right: 20px;
}

.google-button{
    float: right;
    background-color: #DF4A32;
    border-radius: 3px;
    padding: 15px 30px 17px 25px ;
    color: #FFFFFF;
    display: inline-block;
}

.google-icon {
    width: 25px;
    height: 16px;
    background-image: url("image/facebook-google.png");
    background-repeat: no-repeat;
    background-position: -460px -150px;
    margin-right: 5px;
    float: left;
}

.google-text {
    display: inline-block;
    vertical-align: middle;
}

.google-text::before{
    content: "";
    border-right: 1px solid #2B0D09;
    opacity: 0.1;
    margin-right: 27px;
}

.lines-menu {
    color: #848484;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    margin: 15px 0;
}

.lines-menu:before {
    content: "";
    display: inline-block;
    width: 142px;
    border-bottom: 1px solid #848484;
    margin-left: -100% ;
    opacity: 0.5;
    margin-right: 15px;
    vertical-align: middle;
}

.lines-menu:after {
    content: "";
    display: inline-block;
    width: 142px;
    border-bottom: 1px solid #848484;
    margin-right: -100% ;
    opacity: 0.5;
    margin-left: 15px;
    vertical-align: middle;
}

.inputs-form {
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 100%;
    padding: 17px;
    color:  #434343;
    font-size: 14px;
    margin-bottom: 16px;
}


.inputs-form::placeholder {
    color: #BEBEBE;
}

.inputs-form:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.20);
}

.Terms-Conditions {
    color: #434343;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
}

.end-buttom-color {
    color: #3CB878;

}

.form-create-account {
    color: #FFFFFF;
    font-size: 16px;
    background-color:  #3CB878;
    border-radius: 2px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: pointer;
    margin-top: 26px;
    border: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}