.main-page {
    background: #000;
    perspective: 200px;
}
.main-content{
    width: 1000px;
    margin: 0 auto;
    animation: StarWars 30s linear 0s infinite;
    transform-origin: 50% 100%;
}
.intro-text{
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    color: yellow;
}
.main-description {
    line-height: 60px;
    margin-top: 100px;
    color: yellow;
    font-size: 60px;
}

@keyframes StarWars {
    0% {
        transform: rotateX(45deg) translateY(5500px) translateZ(0px) scale(4);
    }
    100% {
        transform: rotateX(60deg) translateY(-100px) translateY(-1100px) scale(4);
    }
}
