* {
    margin: 0;
    padding: 0;

}
.container {
    width: 1280px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
/* --- Header --- */

.logo {
    margin-top: 61px;
    font-size: 80px;
}
.logo-text {
    text-decoration: none;
    font-size: 80px;
    color: #000;
}
.color-top-text {
    color: #00d9ff;
}

/* --- Navigation Top --- */

.top-nav {
    background: #35444F;
    margin-top: 55px;
    text-align: center;
}
.nav-item {
    display: inline-block;
    padding: 20px 30px;
    color: #FFFFFF;
    font-size: 24px;
    border-left: 1px solid black;
}
.nav-item-last {
    border-right: 1px solid black;
}
/* --- Navigation Left --- */
.nav-left {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
}
.nav-left-items {
    display: block;
    font-size: 26px;
  padding: 20px 0 20px 35px;
    color: #495863;
}
.nav-left-items:hover {
    background: #DBDBDB;
    color: black;
}
.main-content {
    margin-top: 30px;
}
/* --- Content --- */
.content {
    width: 850px;
    vertical-align: top;
    display: inline-block;
    margin-left: 73px;
}

.content-img-wrapper {
    padding: 80px 230px;
    border: 1px solid black;
}

.content-img {
    width: 100%;
}

/* --- Content Text--- */

.content-text {
    font-size: 18px;
    margin: 30px 0;
    line-height: 1.5;
}
/* --- Footer --- */

.footer-block {
    padding: 20px 15px;
    background: rgba(99, 105, 110, 0.48);
}
/* --- Footer Navigation --- */
.nav-footer {
    display: inline-block;
    margin-right: 100px;
}
.nav-footer-item {
    color: black;
    font-size: 28px;
    margin:0 20px;
}
/* --- Footer Copyright --- */
.footer-copyright {
    display: inline-block;

    font-size: 24px;
}
